<header>
    <i class="material-icons">support</i> <h1>Compoenente principal funcionando</h1>
</header>


<section>
    <h2>
        Valor: {{valorInicial}}
    </h2>
</section>  

<section>
    <mat-card>

        <!-- Ng On Changes -->
        <mat-card-title>ngOnChanges</mat-card-title>
        <mat-card-content>
            Antes do #2 e quando o valor property-binding é atualizado
        </mat-card-content>

        <hr>

        <!-- Ng On Init -->
        <mat-card-title>ngOnInit</mat-card-title>
        <mat-card-content>
            Quando o componente é inicializado
        </mat-card-content>

        <hr>

        <!-- Ng Do Check -->
        <mat-card-title>ngDoCheck</mat-card-title>
        <mat-card-content>
            A cada ciclo de verificação de mudanças
        </mat-card-content>

        
        <hr>

        <!-- Ng After Content Init -->
        <mat-card-title>ngAfterContentInit</mat-card-title>
        <mat-card-content>
            Despois de inserir coteúdo na view
        </mat-card-content>

        <hr>

        <!-- Ng After Content Checked -->
        <mat-card-title>ngAfterContentChecked</mat-card-title>
        <mat-card-content>
            A cada verificação de conteúdo inserido
        </mat-card-content>

        
        <hr>

        <!-- Ng After View Checked -->
        <mat-card-title>ngAfterViewChecked</mat-card-title>
        <mat-card-content>
            A cada verificação de conteúdo / conteúdo filho
        </mat-card-content>

        <hr>

        <!-- Ng On Destroy -->
        <mat-card-title>ngOnDestroy</mat-card-title>
        <mat-card-content>
            Antes da diretiva/componente ser destruído
        </mat-card-content>        

    </mat-card>
</section>




